/Debug/
/DX12Lab/x64/
/DX12Lab/Intermediate/
/DX12Lab/Extra/
/Build/x64/
/.vs/
/DX12Lab/Debug/
/DX12Lab/Content/Textures/
/DX12Lab/Content/Models/
/DX12Lab/Content/Images/
/DX12Lab/Content/Models/Animations
/DX12Lab/Content/Textures/CubemapCreator/
